*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    margin: 0;
    user-select: none;
    font-family: Google Sans Flex;
    position: relative;
    perspective: 1000px;
    overflow-y: hidden;
}

#container {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.4fr 4fr 0.3fr;
    grid-template-areas: 
        "nav header"
        "nav main"
        "footer footer"
}

header {
    grid-area: header;
    background-color: #d1ac66;
}

#outros-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
}

#outros-players div {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 280px;
}

.player-portrait {
    border-radius: 10px;
    width: 6em;
    height: 5em;
    scale: 100%;
    margin: 0 5px;
    border: 2px solid rgb(212, 162, 100);
}

nav {
    grid-area: nav;
    background-color: #d1ac66;
}

nav h1 {
    text-align: center;
}

.atributo-label {
    text-align: center;
    font-size: 1.5em;
}

.carta-img {
    display: block;
    margin: 1em auto;
    width: 16.5em;
    height: 12.6em;
    border-radius: 10px;
    border: 2px solid rgb(212, 162, 100);
}

.barra-atributo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5em;
    padding: 3px;
    background-color: #414141;
    border-radius: 30px;
    height: 3em;
}

.atributo-status {
    height: 1.9em;
    width: 1.9em;
    border-radius: 50%;
    user-select: none;
    background-size: contain;
}

#botao-passa {
    font-size: 2em;
    display: block;
    margin: 1em auto;
    border-radius: 10px;
    padding: 5px;
    position: fixed;
    right: 2em;
    bottom: 2em;
}

#troca-atributos {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    gap: 1em;
    justify-content: space-between;
}

#descarta-atributos {
    display: block;
    height: 50px;
    margin: 1em;
}

#descarta-atributos div {
    background-color: #414141;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(32, 32, 32);
}

.troca-status {
    display: inline;
    width: 20%;
    height: 100%;
    border: 1px solid rgb(32, 32, 32);
}

#troca-vida {
    background-color: #E33232;
}

#troca-agua {
    background-color: #2258A3;
}

#troca-defesa {
    background-color: #8C8C8C;
}

#troca-dinheiro {
    background-color: #E8C93C;
}

main {
    grid-area: main;
    background-color: purple;
}

footer {
    grid-area: footer;
    background-color: yellow;
}

input[type="checkbox"]{
    width: 50px;
    height: 25px;
    appearance: none;
    background-color: #dae2da;
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    
}

input:checked[type="checkbox"] {
    background-color: #3decb1;
    transition: 0.4s;
}

input[type="checkbox"]:before{
    content: '';
    width: 25px;
    height: 25px;
    background-color: #EDF3F1;
    border-radius: 50px;
    position: absolute;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.4);
    transform: scale(0.8);
    transition: .4s;
    left: 0;
    top: 0;
}

input:checked[type="checkbox"]::before{
    transition: .4s;
    position: absolute;
    left: 25px;
    top: 0;
}

footer{
    display: flex;
    position: relative;
}

#modo-daltonismo{
    display: flex;

    align-items: center;
    position: absolute;
    right: 1vw;
    top: 10%;
    width: auto;
    white-space: nowrap;
}

.cartaevt-container {
    position: fixed;
    top: 200%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 32%;
    height: 90%;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all 0.8s ease-in-out;
}

.cartaevt-frente {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cartaevt-tras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}