*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
}

#container {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.4fr 4fr 0.3fr;
    grid-template-areas: 
        "nav header"
        "nav main"
        "footer footer"
}

header {
    grid-area: header;
    background-color: rgb(187, 142, 88);
}

#outros-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 260px;
}

#outros-players div {
    display: flex;
    padding: 5px;
}

.player-portrait {
    border-radius: 10px;
    width: 6em;
    scale: 100%;
    margin: 0 5px;
}

nav {
    grid-area: nav;
    background-color: rgb(187, 142, 88);
}

nav h1 {
    text-align: center;
}

.carta-img {
    display: block;
    margin: 1em auto;
    width: 70%;
    border-radius: 10px;
}

.barra-atributo {
    display: flex;
    justify-content: space-around;

    margin: 0.5em;
    padding: 3px;
    background-color: #414141;
    border-radius: 30px;
}

.atributo-status {
    width: 1.9em;
    border-radius: 50%;
}

#botao-passa {
    font-size: 2em;
    display: block;
    margin: 1em auto;
    border-radius: 10px;
    padding: 5px;
}

#troca-atributos {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    gap: 1em;
    justify-content: space-evenly;
}

.troca-status {
    display: inline;
    width: 20%;
    height: 100%;
    border: 1px solid rgb(32, 32, 32);
}

#troca-vida {
    background-color: red;
}

#troca-agua {
    background-color: blue;
}

#troca-defesa {
    background-color: grey;
}

#troca-dinheiro {
    background-color: yellow;
}

main {
    grid-area: main;
    background-color: purple;
}

footer {
    grid-area: footer;
    background-color: yellow;
}

input[type="checkbox"]{
    width: 50px;
    height: 25px;
    appearance: none;
    background-color: #dae2da;
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    
}

input:checked[type="checkbox"] {
    background-color: #3decb1;
    transition: 0.4s;
}

input[type="checkbox"]:before{
    content: '';
    width: 25px;
    height: 25px;
    background-color: #EDF3F1;
    border-radius: 50px;
    position: absolute;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.4);
    transform: scale(0.8);
    transition: .4s;
    left: 0;
    top: 0;
}

input:checked[type="checkbox"]::before{
    transition: .4s;
    position: absolute;
    left: 25px;
    top: 0;
}

footer{
    display: flex;
    position: relative;
}

#modo-daltonismo{
    display: flex;

    align-items: center;
    position: absolute;
    right: 1vw;
    top: 10%;
    width: auto;
    white-space: nowrap;
}
