* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Google Sans Flex;
    user-select: none;
}

body{
    background-color: #FCF1C2;
    position: relative;
    height: 100vh;
    overflow-y: hidden;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 10vw ;
}

#banner{
    margin: 2vw auto 0;
    background-color: #687351;
    padding: 0 5vw 0;
    width: 60vw;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    border-radius: 40px 0px 40px 0;
}

#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title h1, h2{
    text-transform: uppercase;
}

#title h1{
    font-size: 6vw;
    line-height: 1;
    text-align: center;
    color: #FBF3C3;
    text-shadow: 0 0 10px rgb(187 206 146 / 100%);
}

#title h2{
    margin: 0;
    font-size: 3vw;;
    color: #FBF3C3;
    text-shadow: 0 0 10px rgb(187 206 146 / 100%);
}

#icone{
    display: flex;
    align-items: center;
}

#logo{
    margin-left: 10px;
    width: 19vw;
    height: auto;
    background-color: #F2EECF;
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(187 206 146 / 100%);
}

#buttons{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 6vh 0;
}

.btn{
    height: 10vh;
    width: 30vh;
    border-radius: 20px;
    margin: 1.7vh 0 0 0;
    font-size: 200%;
    background-color: #687351;
    color: #FBF3C3;
    text-shadow: 0 0 10px rgb(187 206 146 / 100%);
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#criador{
    align-self: flex-start;
    margin: auto;
    width: 60vw;
}

#partedebaixo{
    position: relative;
    width: 100vw;
    height: 30vh;
}

.pessoas{
    position: absolute;
    height: 30vh;
    width: 175px;
    min-width: 150px;
    top: 0;
    transition: 0.3s;
    left: 50%;
    transform: translateX(calc(-50% + var(--x)));
    border-radius: 10px;
}


.pessoas:nth-child(1) { --x: -350px; }
.pessoas:nth-child(2) { --x: -250px;  }
.pessoas:nth-child(3) { --x: -150px;  }
.pessoas:nth-child(4) { --x: -50px;  }
.pessoas:nth-child(5) { --x:  50px;  }
.pessoas:nth-child(6) { --x:  150px;  }
.pessoas:nth-child(7) { --x:  250px;  }
.pessoas:nth-child(8) { --x: 350px;  }


.pessoas:nth-child(1):hover ~ .pessoas,
.pessoas:nth-child(2):hover ~ .pessoas,
.pessoas:nth-child(3):hover ~ .pessoas,
.pessoas:nth-child(4):hover ~ .pessoas,
.pessoas:nth-child(5):hover ~ .pessoas,
.pessoas:nth-child(6):hover ~ .pessoas,
.pessoas:nth-child(7):hover ~ .pessoas {
  transform: translateX(calc(-50% + var(--x) + 150px));
}


.pessoas:hover {
  transform: translateX(calc(-50% + var(--x))) scale(1.3) translateY(-10px);
  z-index: 10;
}

.fundo{
    position: absolute;
    z-index: -1;
}

#folhafundo{
    min-width: 30vw;
    height: 90vh;
    right: 5vw;
    bottom: 0;
    opacity: 60%;
}

.palavrafundo{
    position: absolute;
    z-index: -1;
    top: 0;
    color: #687351;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.8vw;
    opacity: 50%;
}

#f1{
    left: 20vw;
    top: 40vh;
}

#f2{
    left: 80vw;
    top: 30vh;
}

#f4{
    left: 10vw;
    top: 80vh;
}

#f3{
    left: 80vw;
    top: 80vh;
}

#f5{
    left: 3vw;
    top: 10vh;
}

#f6{
    left: 85vw;
    top: 10vh;
}

#comojogar{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 60vw;
    max-width: 1200px;
    aspect-ratio: 16/9;
    object-fit: cover;

    
    display: flex;
    align-items: center;
    align-content: center;

    z-index: 11;
    transition: opacity 0.4s ease;
    
}

#comojogar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;

    border: 5px solid #687351;
    border-width: 10px;
}


#botoes {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: space-between; 
    align-items: center;                       
    z-index: 2;
    
}

#ant {
    left: -2vw; 
}

#prox {
    right: -3vw;
}

#fechar{
    position: absolute;
    font-size: 3vw;
    background-color: #FBF3C3;
    border: none;
    border-radius: 10px;
    padding: 0.5vw 1vw;
    cursor: pointer;
    right: -1.5vw;
    top: -1.5vh;
    z-index: 12;
    border: 5px solid #687351;
    transition: all 0.3s ease-out;
}



#botoes input {
    position: absolute;
    font-size: 3vw;
    background-color: #FBF3C3;
    border: none;
    border-radius: 10px;
    padding: 0.5vw 1vw;
    cursor: pointer;
    transition: transform .1s ease;
    border: 5px solid #687351;
    transition: all 0.3s ease-out;
}

#botoes input:hover,
#fechar:hover {
    transform: scale(1.15);
}

#botoes input:active,
#fechar:active {
    transform: scale(1);
}

#fundoescuro{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.4s ease;
}

.hidden{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.hidden *{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}